<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <h1>Quiz</h1>
    <form action="/quiz" method="POST">
        {% for question in questions %}
            <div>
                <p>{{ question.question }}</p>
                {% for option in question.incorrect_answers %}
                    <input type="radio" id="{{ option }}" name="answers" value="{{ option }}">
                    <label for="{{ option }}">{{ option }}</label><br>
                {% endfor %}
                <input type="radio" id="{{ question.correct_answer }}" name="answers" value="{{ question.correct_answer }}">
                <label for="{{ question.correct_answer }}">{{ question.correct_answer }}</label><br>
            </div>
        {% endfor %}
        <button type="submit">Submit Answers</button>
    </form>
</body>
</html>
